.messageContainer {
    border: solid 1px #ddd;
}

.messageItem {
    display: flex;
    margin-bottom: .5rem;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

.list-group-item {
    cursor: pointer;
}